@import "awesome/font-awesome";
@import "compass/css3";

.uix-button-remove {
	padding: 2px;
	cursor: pointer;
	color: #4B4B4B;
}

.js-uix-icon {
	padding: 2px;
	margin: 0.5% 0.5% 0;
	float: left;
	position: relative;
	display: inline;
	font-size: 32px;
	color: #428bca;
	border: 1px solid #CCCCCC;
	background-color: #F7F7F9;
	cursor: pointer;
}

.js-uix-icon:hover {
	.js-ui-color {
		display: block;
	}
}

.js-ui-color {
	position: absolute;
	bottom: -5px;
	left: -5px;
	border: 1px solid #ADADAD;
	width: 12px;
	height: 12px;
	display: none;
	background-color: #428bca;
	z-index: 1;
}

.ui-icon-check {
	color: #428bca;
	position: absolute;
	top: -5px;
	right: -5px;
	font-size: 12px;
	display: none;
	background-color: #F7F7F9;
	padding: 2px;
	border: 1px solid #ADADAD;
}

.uix-box {
	padding: 5px;
	position: relative;
	display: block;
	min-height: 25px;

	.uix-button-remove {
		position: absolute;
		top: 2px;
		right: 2px;
	}
}

.uix-collapse {
  color: #4B4B4B;

  i {
    cursor: pointer;
    float: right;
  }

  .uix-collapse-title {
    float: left;
  }
}

.uix-container-maps {
	height: 300px;
	position: relative;
}

.uix-info-box {
  position: relative;
  left: 0;
  width: 450px;
  background: #FFF;
  border: 1px solid transparent;
  font-size: 13px !important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.uix-info-head {
  padding: 15px;
  line-height: 1.6em;
  font-weight: 400;
  font-size: 14px !important;
  text-transform: uppercase;
  color: #fff !important;
  background: #4188D0;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.uix-info-content {
  padding: 10px;
  line-height: 1.6em;
}

.uix-info-caret {
  display: block;
  position: absolute;
  left: 215px;
  margin-top: -15px;
  color: #fff;

  i {
    font-size: 40px;
  }
}

.marker-label,
.marker-icon {
  z-index: 999;
  position: absolute;
  display: block;
  margin-top: -45px;
  margin-left: -24px;
  width: 50px;
  height: 50px;
  font-size: 16px !important;
  text-align: center;
  color: #FFFFFF;
  white-space: nowrap;
}

.clearfix:before, .clearfix:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden; 
}

.clearfix:after {
	clear: both; 
}

.clearfix {
	zoom: 1;
	/* IE < 8 */ 
}