@import "awesome/font-awesome";
@import "compass/css3";

.uix-button-remove {
	padding: 2px;
	cursor: pointer;
	color: #4B4B4B;
}

.js-uix-icon {
	padding: 2px;
	margin: 0.5% 0.5% 0;
	float: left;
	position: relative;
	display: inline;
	font-size: 32px;
	color: #428bca;
	border: 1px solid #CCCCCC;
	background-color: #F7F7F9;
	cursor: pointer;
}

.js-uix-icon:hover {
	.js-ui-color {
		display: block;
	}
}

.js-ui-color {
	position: absolute;
	bottom: -5px;
	left: -5px;
	border: 1px solid #ADADAD;
	width: 12px;
	height: 12px;
	display: none;
	background-color: #fff;
	z-index: 1;
}

.ui-icon-check {
	color: #428bca;
	position: absolute;
	top: -5px;
	right: -5px;
	font-size: 12px;
	display: none;
	background-color: #F7F7F9;
	padding: 2px;
	border: 1px solid #ADADAD;
}

.uix-box {
	padding: 5px;
	position: relative;
	display: block;
	min-height: 25px;

	.uix-button-remove {
		position: absolute;
		top: 2px;
		right: 2px;
	}
}